.btn {
  border-radius: 0;
  font-size: 12px;
}

.btn.btn-success {
  background-color: #212529;
}

label.form-label {
  font-size: 12px;
}

input.form-control,
select.form-select,
textarea.form-control {
  border-radius: 0;
  padding: 0.2rem 0.75rem;
  font-size: 14px;
}
