.sidebar-menu {
  background: #212529;
  height: 100%;
}

.sidebar-menu .list-group-item {
  background-color: transparent;
}

.sidebar-menu .nav-link {
  color: white;
}

.sidebar-menu .active-menu,
.sidebar-menu .list-group-item:hover {
  background: rgb(15, 77, 221);
}
